#### 1.	Read the demand transaction file and print the first 15 rows and dtypes

In [28]:
import pandas as pd
df = pd.read_csv('Demand_txn_updated.csv')
print(df)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978        7/31/2018
1      Hyderabad         Take Away              4064        7/31/2018
2      Hyderabad         Main Hall               965        7/31/2018
3      Hyderabad           Express              9978        7/31/2018
4      Hyderabad           Express              1045        7/31/2018
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056         8/1/2016
30227     Mumbai         Take Away              4058         8/1/2016
30228     Mumbai           Dine-in               964         8/1/2016
30229     Mumbai         Take Away              4066         8/1/2016
30230     Mumbai          Delivery              4061         8/1/2016

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[30231 rows x 22 columns]

In [29]:
df.head(15)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
5,Hyderabad,Delivery,4056,7/31/2018,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
6,Hyderabad,Take Away,4065,7/31/2018,217,652.0,0.05,651.958113,NaN,NaN,...,Tue,7559.28,143.7,4.230745,4.029228,0,1,0.86,0.91,37307.52
7,Hyderabad,Express,4058,7/31/2018,115,312.0,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.70,0.08,37307.52
8,Hyderabad,Express,4057,7/31/2018,113,312.0,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.72,0.08,37307.52
9,Hyderabad,Express,4056,7/31/2018,120,392.0,0.05,378.955556,NaN,NaN,...,Tue,7559.28,143.7,2.330936,2.219903,0,1,0.84,0.08,37307.52
10,Hyderabad,Delivery,4061,7/31/2018,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
11,Hyderabad,Express,4055,7/31/2018,122,362.0,0.05,347.458182,NaN,NaN,...,Tue,7559.28,143.7,2.111748,2.011134,0,1,0.71,0.08,37307.52
12,Hyderabad,Take Away,4061,7/31/2018,233,802.0,0.05,809.456066,NaN,NaN,...,Tue,7559.28,143.7,5.326765,5.073069,0,1,0.82,0.91,37307.52
13,Hyderabad,Dine-in,9978,7/31/2018,118,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.85,1.09,37307.52
14,Hyderabad,Dine-in,979,7/31/2018,164,1222.0,0.05,1250.460000,NaN,NaN,...,Tue,7559.28,143.7,8.395685,7.995825,0,1,0.86,1.09,37307.52

In [30]:
df.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

#### 2.Convert the transaction date column to a date column using pd.to_datetime function

In [31]:
df["Transaction_Date"] = pd.to_datetime(df["Transaction_Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30231 entries, 0 to 30230
Data columns (total 22 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   City                                        30231 non-null  object
 1   Mapped_Sales_Type                           30231 non-null  object
 2   Mapped_Item_Code                            30231 non-null  int64
 3   Transaction_Date                            30231 non-null  datetime64[ns]
 4   Quantity_Sold                               30231 non-null  int64
 5   Median_Price                                30231 non-null  float64
 6   Average_Tax_Percent                         30231 non-null  float64
 7   Effective_Price                             30229 non-null  float64
 8   Percent_Quantity_With_Discount              12209 non-null  float64
 9   Avg_Discount_Percent_On_Discounted_Items    12202 non-null  float64
 10  Year                                        30231 non-null  int64
 11  Month                                       30231 non-null  int64
 12  Day                                         30231 non-null  object
 13  Car_sales                                   30231 non-null  float64
 14  F_and_B_Inflation                           30231 non-null  float64
 15  F_and_B_Inflation_Adjusted_Effective_Price  30229 non-null  float64
 16  F_and_B_Inflation_Adjusted_Median_Price     30231 non-null  float64
 17  First_Week_Of_The_Month_Dummy               30231 non-null  int64
 18  Last_Week_Of_The_Month_Dummy                30231 non-null  int64
 19  Day_Of_The_Week_Seasonality                 30231 non-null  float64
 20  Month_Of_The_Year_Seasonality               30142 non-null  float64
 21  Two_Wheeler_sales                           30231 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(6), object(3)
memory usage: 5.1+ MB

#### 3. Subset the dataframe for transaction date greater than '2016-08-01'

In [32]:
above8_1 = df[df['Transaction_Date'] > '8/1/2016'] # Does the format of Date not matter?
above8_1

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,2018-07-31,167,187.00,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,2018-07-31,368,602.00,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,2018-07-31,694,263.00,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,2018-07-31,140,263.00,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,2018-07-31,139,392.00,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30187,Mumbai,Take Away,4059,2016-08-02,519,300.00,0.15,303.790980,0.004902,0.114493,...,Tue,8033.92,140.1,1.854325,1.620271,1,0,0.81,0.99,27870.40
30188,Mumbai,Main Hall,966,2016-08-02,369,238.85,0.21,244.207519,NaN,NaN,...,Tue,8033.92,140.1,1.429033,1.183797,1,0,1.10,0.89,27870.40
30189,Mumbai,Take Away,4065,2016-08-02,234,510.00,0.15,544.369268,NaN,NaN,...,Tue,8033.92,140.1,3.571515,3.119201,1,0,0.86,0.99,27870.40
30190,Mumbai,Delivery,4057,2016-08-02,145,227.00,0.14,220.330000,NaN,NaN,...,Tue,8033.92,140.1,1.258601,1.099215,1,0,0.74,0.89,27870.40
30191,Mumbai,Take Away,4061,2016-08-02,216,658.00,0.15,713.827429,NaN,NaN,...,Tue,8033.92,140.1,4.781067,4.175589,1,0,0.82,0.99,27870.40

#### 4.	Look for unique values in Mapped_Sales_Type

In [33]:
df['Mapped_Sales_Type'].unique()

array(['Take Away', 'Main Hall', 'Express', 'Delivery', 'Dine-in',
       'Bakery'], dtype=object)

#### 5.	Subset the entire dataframe, based on the below condition, to a new dataframe and work on the following questions
    a.	Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0
    b.	Check for sanity if the new dataframe contains
        Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

In [34]:
df1 = df[(df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0)]
df1

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30198,Mumbai,Take Away,4055,2016-08-01,1290,230.0,0.15,222.456760,0.010178,0.820589,...,Mon,8033.92,140.1,1.273781,1.120628,1,0,0.75,0.99,27870.40
30201,Mumbai,Dine-in,978,2016-08-01,213,989.0,0.21,1135.791961,0.009804,0.120502,...,Mon,8033.92,140.1,7.792948,6.538187,1,0,0.79,0.94,27870.40
30212,Mumbai,Dine-in,970,2016-08-01,534,273.0,0.20,281.371135,0.007092,0.502083,...,Mon,8033.92,140.1,1.694298,1.427552,1,0,0.83,0.94,27870.40
30213,Mumbai,Dine-in,965,2016-08-01,1410,317.0,0.20,333.437775,0.004619,0.120492,...,Mon,8033.92,140.1,2.065937,1.741613,1,0,0.83,0.94,27870.40
30226,Mumbai,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40

In [35]:
df1[df1['Avg_Discount_Percent_On_Discounted_Items'] >= 1.0]

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales]
Index: []

[0 rows x 22 columns]

#### 6. Groupby 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date' and perform following aggregate operations <br> on respective columns as mentioned (note: Only one groupby to do all the below aggregations)
 - a.	Quantity_Sold – sum
 - b.	Median_Price – median
 - c.	Effective_Price – median

In [36]:
g = df.groupby(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date'])
print(g['Quantity_Sold'].sum())
print(g['Median_Price'].median())
print(g['Effective_Price'].median())

City     Mapped_Sales_Type  Mapped_Item_Code  Transaction_Date
Chennai  Bakery             4057              2017-08-05          110
                            9978              2018-01-22          105
         Delivery           4055              2017-08-04          377
                                              2017-08-05          377
                                              2017-08-06          638
                                                                 ...
Mumbai   Take Away          4068              2017-01-09          200
                                              2017-01-10          199
                                              2017-01-11          239
                                              2017-01-12          233
                                              2017-01-13          273
Name: Quantity_Sold, Length: 30231, dtype: int64
City     Mapped_Sales_Type  Mapped_Item_Code  Transaction_Date
Chennai  Bakery             4057              2017-08-05          223.0
                            9978              2018-01-22          178.0
         Delivery           4055              2017-08-04          260.0
                                              2017-08-05          260.0
                                              2017-08-06          260.0
                                                                  ...
Mumbai   Take Away          4068              2017-01-09          405.0
                                              2017-01-10          405.0
                                              2017-01-11          405.0
                                              2017-01-12          405.0
                                              2017-01-13          405.0
Name: Median_Price, Length: 30231, dtype: float64
City     Mapped_Sales_Type  Mapped_Item_Code  Transaction_Date
Chennai  Bakery             4057              2017-08-05          221.000000
                            9978              2018-01-22          154.250000
         Delivery           4055              2017-08-04          264.113759
                                              2017-08-05          264.138571
                                              2017-08-06          264.223814
                                                                     ...
Mumbai   Take Away          4068              2017-01-09          424.140000
                                              2017-01-10          424.140000
                                              2017-01-11          424.140000
                                              2017-01-12          424.140000
                                              2017-01-13          423.201358
Name: Effective_Price, Length: 30231, dtype: float64

#### 7.	Display the data for Effective_Price = not null and just print the last 5 rows (hint: use .notnull function)

In [37]:
Last5 = df['Effective_Price'].notnull()
df[Last5].tail()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
30226,Mumbai,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.4
30227,Mumbai,Take Away,4058,2016-08-01,1289,212.8,0.14,202.575840,0.009338,1.144999,...,Mon,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.4
30228,Mumbai,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.4
30229,Mumbai,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.4
30230,Mumbai,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.4

In [38]:
pd.notnull(df['Effective_Price']).tail()

30226    True
30227    True
30228    True
30229    True
30230    True
Name: Effective_Price, dtype: bool

#### 8.	Display the data for city = Chennai AND Mapped_Sales_Type = Delivery and print top 5 records (hint use loc function to subset, then “&” operator to filter both the above cities)

In [39]:
df.loc[:,['City','Mapped_Sales_Type']]

            City Mapped_Sales_Type
0      Hyderabad         Take Away
1      Hyderabad         Take Away
2      Hyderabad         Main Hall
3      Hyderabad           Express
4      Hyderabad           Express
...          ...               ...
30226     Mumbai         Take Away
30227     Mumbai         Take Away
30228     Mumbai           Dine-in
30229     Mumbai         Take Away
30230     Mumbai          Delivery

[30231 rows x 2 columns]

In [40]:
df.loc[(df['City']=='Chennai') & (df['Mapped_Sales_Type']=='Delivery')].head(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
8379,Chennai,Delivery,4055,2018-02-05,544,281.10,0.05,262.502194,NaN,NaN,...,Mon,6660.16,139.9,1.561846,1.487491,1,0,0.71,1.13,30726.72
8384,Chennai,Delivery,4068,2018-02-05,129,566.43,0.05,562.110000,NaN,NaN,...,Mon,6660.16,139.9,3.703431,3.527019,1,0,0.65,1.13,30726.72
8387,Chennai,Delivery,4064,2018-02-05,186,619.34,0.05,617.659733,NaN,NaN,...,Mon,6660.16,139.9,4.100498,3.905218,1,0,0.61,1.13,30726.72
8388,Chennai,Delivery,4058,2018-02-05,287,259.19,0.05,239.381307,0.005682,0.105,...,Mon,6660.16,139.9,1.396578,1.330879,1,0,0.71,1.13,30726.72
8392,Chennai,Delivery,4061,2018-02-05,128,850.62,0.05,855.697647,0.058824,0.105,...,Mon,6660.16,139.9,5.801985,5.558399,1,0,0.61,1.13,30726.72

#### 9.	 Display the data for the column “Day” with values Mon, Tue and Wed (hint: use .isin function)

In [41]:
df[df["Day"].isin(["Mon", "Tues", "Wed"])]

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
49,Hyderabad,Take Away,4055,2018-07-30,1171,263.0,0.05,243.104774,0.002830,0.735000,...,Mon,7559.28,143.7,1.385559,1.322199,0,1,0.75,0.91,37307.52
50,Hyderabad,Delivery,4055,2018-07-30,1078,302.0,0.05,284.457477,NaN,NaN,...,Mon,7559.28,143.7,1.673330,1.593598,0,1,0.71,1.06,37307.52
51,Hyderabad,Take Away,4058,2018-07-30,490,249.0,0.05,228.800000,NaN,NaN,...,Mon,7559.28,143.7,1.286013,1.224774,0,1,0.78,0.91,37307.52
52,Hyderabad,Dine-in,966,2018-07-30,1101,392.0,0.05,378.493636,0.004040,0.360165,...,Mon,7559.28,143.7,2.327722,2.219903,0,1,0.83,1.09,37307.52
53,Hyderabad,Take Away,4068,2018-07-30,151,542.0,0.05,536.458000,NaN,NaN,...,Mon,7559.28,143.7,3.426987,3.263744,0,1,0.71,0.91,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40
30227,Mumbai,Take Away,4058,2016-08-01,1289,212.8,0.14,202.575840,0.009338,1.144999,...,Mon,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40
30228,Mumbai,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40
30229,Mumbai,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40
30230,Mumbai,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40

#### 10.	Display the data for Percent_Quantity_With_Discount not equal to 0.0 (hint: loc function with != operator)

In [42]:
df.loc[(df['Percent_Quantity_With_Discount'] != 0.0)]

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,2018-07-31,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,2018-07-31,368,602.0,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,2018-07-31,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,2018-07-31,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,2018-07-31,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40
30227,Mumbai,Take Away,4058,2016-08-01,1289,212.8,0.14,202.575840,0.009338,1.144999,...,Mon,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40
30228,Mumbai,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40
30229,Mumbai,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40
30230,Mumbai,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40

#### 11.	Add a column “Range” to the existing dataframe for below condition
a.	1 for Effective_Price > 500
b.	0.5 otherwise

In [43]:
def calc_range_col(row):
    if row['Effective_Price'] > 500:
        return 1
    else:
        return 0.5
df['Range'] = df.apply(calc_range_col, axis=1)
df

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Range
0,Hyderabad,Take Away,9978,2018-07-31,167,187.0,0.05,163.700000,NaN,NaN,...,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52,0.5
1,Hyderabad,Take Away,4064,2018-07-31,368,602.0,0.05,584.329105,0.027237,1.050000,...,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52,1.0
2,Hyderabad,Main Hall,965,2018-07-31,694,263.0,0.05,244.835163,NaN,NaN,...,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52,0.5
3,Hyderabad,Express,9978,2018-07-31,140,263.0,0.05,243.500000,NaN,NaN,...,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52,0.5
4,Hyderabad,Express,1045,2018-07-31,139,392.0,0.05,378.960000,NaN,NaN,...,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40,0.5
30227,Mumbai,Take Away,4058,2016-08-01,1289,212.8,0.14,202.575840,0.009338,1.144999,...,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40,0.5
30228,Mumbai,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,NaN,...,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40,1.0
30229,Mumbai,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,NaN,...,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40,1.0
30230,Mumbai,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,NaN,...,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40,1.0

#### 12.	Read the demand transaction file again and perform following operations for practice
a.	Handle the missing values in the column Percent_Quantity_With_Discount with strategy = mean

In [44]:
df = pd.read_csv("Demand_txn_updated.csv")
df['Percent_Quantity_With_Discount'].fillna(df['Percent_Quantity_With_Discount'].mean(), inplace=True)

In [45]:
df

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,0.098011,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,0.098011,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,0.098011,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,0.098011,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,8/1/2016,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40
30227,Mumbai,Take Away,4058,8/1/2016,1289,212.8,0.14,202.575840,0.009338,1.144999,...,Mon,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40
30228,Mumbai,Dine-in,964,8/1/2016,140,933.0,0.21,1063.855517,0.098011,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40
30229,Mumbai,Take Away,4066,8/1/2016,179,501.0,0.14,534.060000,0.098011,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40
30230,Mumbai,Delivery,4061,8/1/2016,117,716.5,0.15,780.810000,0.098011,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40